

@{
    Layout = null;
    ViewBag.Title = "MedicalManagement-Sys - Home";
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Menu | MedicalManagement-Sys - Management</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">

    <link href="/cooperchip/css/bootstrap3_5.css" rel="stylesheet" />


    <link href="/cooperchip/css/box-img-text.css" rel="stylesheet" type="text/css" />

    <link href="/cooperchip/css/fullcalendar.css" rel="stylesheet" />
    <link href="/cooperchip/css/fullcalendar.print.css" rel="stylesheet" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="icon" href="/img/ico/favicon.ico" type="image/png">
    <meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body>
    <div class="container">
        <div class="animated fadeInRightBig">

            <div class="panel panel-primary toggle mt20">
                <div class="panel-heading">
                </div>

                <div class="panel-body">
                    <div style="padding: 25px; margin: 25px; vertical-align: central;">

                        <div style="margin: 0 auto; float: left; ">

                            <div class="row col-lg-12 col-md-12 col-sm-12">

                                <div id="page-header" class="clearfix">
                                    <div class="page-header">

                                        <partial name="_LoginPartial" />

                                        <div>
                                            <a href="#" title="MedicalManagement-Sys - Home"><img src="/images/logo-pages.png" /></a>
                                        </div>
                                    </div>

                                    <partial name="_IndexHome" />

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="footer">
            <p class="text-center">&copy;2014 / @DateTime.Now.Year - Copyright MedicalManagement-Sys. Todos os direitos reservados!</p>
        </div>
    </div>

    <script src="/lib/jquery/dist/jquery.js"></script>

    <script src="/cooperchip/js/jquery.validate.js"></script>
    <script src="/cooperchip/js/additional-methods.min.js"></script>
    <script src="/cooperchip/js/login.js"></script>

</body>
</html>
