
@model Cooperchip.ITDeveloper.Application.ViewModels.TagsViewModel

@{
    ViewData["Title"] = "Detalhes da Tag";
}



@*<vc:cabecalho titulo="Cooperchip-Sys / Módulo Tags"
              subtitulo="Administração de Tags"></vc:cabecalho>*@

<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Detalhes da Tag</h3>
    </div>

    <div class="panel panel-body">

        <div>

            <dl class="row">

                <partial name="Partial/_delete_details" />

            </dl>
        </div>
        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
            <a class="btn btn-default" asp-action="Index">Listagem</a>
        </div>
    </div>
</div>


@section Scripts {


}