@model IEnumerable<Cooperchip.ITDeveloper.Application.ViewModels.Farmacia.ProdutoViewModel>

    @*<vc:cabecalho titulo="Medical Management-Sys / Módulo Farmácia"
                  subtitulo="Administração de Produtos"></vc:cabecalho>*@

@{ ViewData["Title"] = "Listagem de Produtos";
   ViewData["PageName"] = "lista-de-produtos";
   ViewData["Category1"] = "Farmácia";
   ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i> Listagem de produtos: <span class='fw-300'>Módulo Farmácia</span> <sup class='badge badge-primary fw-500'>ADDON</sup>";

   ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i> Listagem de Produtos";

   ViewData["PageDescription"] = "Exporte os dados para PDF, Excel e CSV sem qualquer complicação!"; }

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
}


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span supress-by-claim-name="Produto" supress-by-claim-value="Adicionar">
                        <a class="btn btn-outline-info btn-sm" asp-action="Create">Novo Produto</a>&nbsp;&nbsp;
                    </span>

                    @*<button type="button" class="btn btn-outline-success btn-sm"
                            data-toggle="modal"
                            data-target=".default-example-modal-right-prontuario">
                        Prontuário
                    </button>&nbsp;&nbsp;

                    <button type="button" class="btn btn-outline-info btn-sm"
                            data-toggle="modal"
                            data-target=".default-example-modal-right-historico">
                        Histórico
                    </button>*@

                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <vc:summary></vc:summary>
                    <partial name="_ListaProdutos" />

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

}

@section ScriptsBlock {

    <partial name="PartialViews/_ScriptDataTables" />
    @* .dt-basic-srmartadmin *@

}
