@*@model Cooperchip.ITDeveloper.Domain.Entities.Author*@

@model Cooperchip.ITDeveloper.Application.ViewModels.AuthorViewModel

@{
    ViewData["Title"] = "Exclusão de Autor";
}

<vc:cabecalho titulo="Cooperchip-Sys / Módulo Tags"
              subtitulo="Administração de Tags"></vc:cabecalho>

<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h2>Tem certeza que deseja excluir este registro?</h2>
    </div>

    <div class="panel panel-body">

        <div>
            <dl class="row">

                <partial name="Partial/_delete_detail" />


            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-default" asp-action="Index">Listagem</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    @* Bundle  dataTable *@
    <script src="/bundle/dataTables.min.js"></script>
    <script src="~/bundle/dashboard.min.js"></script>

}
