@model Cooperchip.ITDeveloper.Application.ViewModels.AuthorViewModel

@{
    ViewData["Title"] = "Detalhes de Autor";
}

<vc:cabecalho titulo="Cooperchip-Sys / Módulo Tags"
              subtitulo="Administração de Tags"></vc:cabecalho>

<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Detalhes de Autor</h3>
    </div>

    <div class="panel panel-body">
        <dl class="row">

            <partial name="Partial/_delete_detail" />

        </dl>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <a class="btn btn-default" asp-action="Index">Listagem</a>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    @* Bundle  dataTable *@
    <script src="/bundle/dataTables.min.js"></script>
    <script src="~/bundle/dashboard.min.js"></script>

}
