@model Cooperchip.ITDeveloper.Application.ViewModels.PacienteViewModel

@{ ViewData["Title"] = "Detalhes do Paciente";
				ViewData["PageName"] = "paciente_details";
				ViewData["Heading"] = "<i class='subheader-icon fal fa-plus-circle'></i>  Detalhes do Paciente";
				ViewData["PageDescription"] = "";
				ViewData["Category1"] = "Paciente"; }
@*<vc:cabecalho titulo="Detalhes do Paciente" subtitulo="Paciente" ></vc:cabecalho>*@

@section HeadBlock {
	<link rel="stylesheet" media="screen, print" href="~/css/page-invoice.css">
}
<div class="container">
    <div data-size="A4">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="fw-300 display-4 fw-500 color-primary-600 keep-print-font pt-4 l-h-n m-0">
                    @Model.Nome
                </h3>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 d-flex">
                <div class="table-responsive">
                    <table class="table table-clean table-sm align-self-end">

                        <partial name="_delete_details" />

                    </table>
                </div>
            </div>

        </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="py-5 text-primary">
                        <a class="btn btn-outline-info" asp-controller="Paciente" asp-action="Index">Listagem</a>
                        <a class="btn btn-outline-warning" asp-controller="Paciente" asp-action="Index">Ver Prontu&aacute;rios</a>
                        <a class="btn btn-outline-primary" asp-controller="Paciente" asp-action="Index">Hist&oacute;rico</a>
                        <a class="btn btn-outline-danger" asp-controller="Paciente" asp-action="Index">Inabilitar Paciente</a>
                    </h4>

                </div>
            </div>
    </div>
</div>
@section ScriptsBlock {
}
