

@model Cooperchip.ITDeveloper.Domain.Entities.ChamadaMedica

@{
    ViewBag.Title = "Adicionar Chamada Médica - MedicalManagement-Sys";
}


<vc:cabecalho titulo="Medical Management-Sys / Módulo Pacientes" subtitulo="Módulo de Administração de Pacientes">

</vc:cabecalho>


@{ Layout = null; }


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">

                <hr />

                @using (Html.BeginForm())
                {

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="DataChamada" class="control-label"></label>
                        <input asp-for="DataChamada" class="form-control" />
                        <span asp-validation-for="DataChamada" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Leito" class="control-label"></label>
                        <input asp-for="Leito" class="form-control" />
                        <span asp-validation-for="Leito" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Medico" class="control-label"></label>
                        <input asp-for="Medico" class="form-control" />
                        <span asp-validation-for="Medico" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Mensagem" class="control-label"></label>
                        <input asp-for="Mensagem" class="form-control" />
                        <span asp-validation-for="Mensagem" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Adicionar" class="btn btn-success" />
                        </div>
                    </div>


                }
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    @* Bundle  dataTable *@
    <script src="/bundle/dataTables.min.js"></script>
    <script src="~/bundle/dashboard.min.js"></script>

}