

<div class="modal fade example-modal-top-transparent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-transparent">
        <div class="modal-content">
            <div class="modal-body">

                <div class="icon-stack fa-5x mr-4 mb-0">
                    <a asp-controller="Paciente" asp-action="Index" title="Lista de Pacientes">
                        <i class="base-4 icon-stack-3x color-danger-500"></i>
                        <i class="base-4 icon-stack-1x color-danger-400"></i>
                        <i class="ni ni-envelope icon-stack-1x text-white"></i>
                    </a>
                </div>

                <div class="icon-stack fa-5x mr-4 mb-0">
                    <a asp-controller="Triagem" asp-action="Index" title="Triagem - Classificação de Riscos">
                        <i class="base-19 icon-stack-3x color-primary-400"></i>
                        <i class="base-7 icon-stack-2x color-primary-300"></i>
                        <i class="base-7 icon-stack-1x fs-xxl color-primary-200"></i>
                        <i class="base-7 icon-stack-1x color-primary-500"></i>
                        <i class="@(Settings.Theme.IconPrefix) fa-globe icon-stack-1x text-white opacity-85"></i>
                    </a>
                </div>
                <div class="icon-stack fa-5x mr-4 mb-0">
                    <i class="base-16 icon-stack-3x color-fusion-500"></i>
                    <i class="base-10 icon-stack-1x color-primary-50 opacity-30"></i>
                    <i class="base-10 icon-stack-1x fs-xl color-primary-50 opacity-20"></i>
                    <i class="@(Settings.Theme.IconPrefix) fa-dot-circle icon-stack-1x text-white opacity-85"></i>
                </div>
                <div class="icon-stack fa-5x mr-4 mb-0">
                    <i class="base-7 icon-stack-3x color-info-500"></i>
                    <i class="base-7 icon-stack-2x color-info-700"></i>
                    <i class="ni ni-graph icon-stack-1x text-white"></i>
                </div>
                <div class="icon-stack fa-5x mr-4 mb-0">
                    <i class="base-9 icon-stack-3x color-success-400"></i>
                    <i class="base-2 icon-stack-2x color-success-500"></i>
                    <i class="ni ni-shield icon-stack-1x text-white"></i>
                </div>
            </div>
        </div>
    </div>
</div>